#loading {
  width: 4rem;
  height: 4rem;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
  will-change: transform;
  animation: spin 1s infinite linear;
  visibility: hidden;
}

#loading.display {
  visibility: visible;
}

.tabs-container {
  display: flex;
  font-weight: 550;
}

.tab {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  margin: 1em;
  transition: all 0.25s linear;
}

.tab.active {
  background-color: #ebf3fa;
  border-radius: 15px;
}

.chart-canvas {
  display: none !important;
}

.chart-canvas.active {
  display: block !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}